<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048086508772-69ggp3ic1inut1tieepd74tenea9qnrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048086508772-69ggp3ic1inut1tieepd74tenea9qnrb</string>
	<key>API_KEY</key>
	<string>AIzaSyATHl0FCECEmDkVBYyWeKweoPifvS5CXMY</string>
	<key>GCM_SENDER_ID</key>
	<string>1048086508772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolgaaygun.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-fb603</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-fb603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048086508772:ios:803a6d083b59908513e8f1</string>
</dict>
</plist>